@{
var cursection = "home";
var cursubsection = "";

var menus_submenus_url = new Dictionary<string,Dictionary<string,string>>
    {
        { "home", new Dictionary<string, string> {} },
        { "research", new Dictionary<string,string> {
                            {"Index" , "/research/index.html" },
                            {"Publications",  "/research/publications.html" },
                            {"Tools", "/research/tools.html" },
                            {"References", "/rese }arch/references.html" }
                     } },
        { "software", new Dictionary<string,string>
                    {
                        { "SumatraPDF", "/software/sumatra/index.html" },
                        { "Cracklock",  "/software/cracklock/index.html" },
                        { "LaTeXDaemon", "/software/latexdaemon/index.html" },
                        { "Domenico", "/software/domenico/index.html" },
                        { "OncelesGL",  "/software/oncelesgl/index.html" },
                        { "LaTeX tools", "/software/latex/index.html" },
                        { "TrueType for LaTeX",  "/software/latexttf/index.html" },
                        { "Others", "/software/others/index.html" }
                    } },
        {"about me",  new Dictionary<string, string> {} },
        {"links",  new Dictionary<string, string> {} }
     };
}

<header>
<a href="@Model.Root/index.html">William Blum's website</a>
</header>

<div class="masthead contain-to-grid sticky">
    <ul class="nav nav-pills pull-left">
        <li><a href="@Model.Root/index.html"><img src="@Model.Root/images/notepad60.png"/>Blog</a></li>
        <li><a href="@Model.Root/research/index.html"><img src="@Model.Root/images/cogwheels_60.png"/>Research</a></li>
        <li><a href="@Model.Root/software/index.html"><img src="@Model.Root/images/usbflashdisk.png"/>Software</a></li>
        <li><a href="@Model.Root/links.html"><img src="@Model.Root/images/tree2_60.png"/>Links</a></li>
        <li><a href="@Model.Root/aboutme.html"><img alt="William Blum" src="@Model.Root/images/myprofile60.png"/>About me</a></li>
        <li>
            <!-- SiteSearch Google -->
            <script>
            (function() {
                var cx = '004438261549467276284:jcchzdksgwc';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
            </script>
            <div style="width:250px;margin-top:10px">
                <gcse:searchbox-only resultsUrl="@Model.Root/search.html" />
            </div>
            <!-- SiteSearch Google -->
        </li>
    </ul>
</div>