<div class="col-sm-3 col-sm-offset1">
    <nav style="margin-top:60px">
        <ul class="nav nav-list list-unstyled" id="menu">
        <li class="nav-header">
            <a href="@Model.Root/index.html">Blog</a></li>
        <li class="divider"></li>
        <li class="nav-header"><a href="@Model.Root/research/index.html">Research</a></li>
        <li><a href="@Model.Root/research/publications.html">Publications</a></li>
        <li><a href="@Model.Root/research/tools.html">Tools</a></li>
        <li><a href="@Model.Root/research/references.html">References</a></li>
        <li class="divider"></li>
        <li class="nav-header"><a href="@Model.Root/software/index.html">Software</a></li>
        <li><a href="@Model.Root/software/sumatra/index.html">SumatraPDF</a></li>
        <li><a href="@Model.Root/software/cracklock/index.html">Cracklock</a></li>
        <li><a href="@Model.Root/software/latexdaemon/index.html">LaTeXDaemon</a></li>
        <li><a href="@Model.Root/software/domenico/index.html">Domenico</a></li>
        <li><a href="@Model.Root/software/oncelesgl/index.html">OncelesGL</a></li>
        <li><a href="@Model.Root/software/latex/index.html">LaTeX tools</a></li>
        <li><a href="@Model.Root/software/latexttf/index.html">TrueType for LaTeX</a></li>
        <li><a href="@Model.Root/software/others/index.html">Others</a></li>
        <li class="nav-header">Personal</li>
        <li><a href="@Model.Root/aboutme.html">About me</a></li>
        <li><a href="@Model.Root/links.html">Links</a></li>
        <li><a href="@Model.Properties["project-github"]">Github page</a></li>
        <li class="nav-header">Top downloads</li>
        <li><a href="@Model.Root/software/cracklock/index.html">Cracklock</a></li>
        <li><a href="@Model.Root/software/latex/index.html">pstring</a></li>
        <li><a href="@Model.Root/software/latexdaemon/index.html">LatexDaemon</a></li>

        <li class="nav-header">Credits</li>
        <li><a href="http://tpetricek.github.io/FSharp.Formatting/">F# Formatting</a></li>
        <li><a href="http://qianhanlin.blogspot.com/">Artwork</a></li>
        </ul>
    </nav>
</div>
