@{
  var cursection = "software";
  var cursubsection = "cracklock";
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Description">
    <meta name="author" content="@Model.Properties["project-author"]">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link href="@Model.Root/perso.css" rel="stylesheet" type="text/css" />
    <link href="@Model.Root/common/download.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Model.Root/common/downloadtable.css" rel="stylesheet" type="text/css" media="screen" />

    @Include("parts/analyticsmarkers")
    
  </head>
  <body>
    <div class="container">
      @Include("parts/header")
      @Include("parts/subheader")
      <div class="row">
        <div class="col-sm-8" id="main">
          @RenderBody()
          @Include("parts/downloadtable")
          
        </div>
        @Include("parts/sidelist")
      </div> 
    </div>
    @Include("parts/footer")
  </body>
</html>
