<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Description">
    <meta name="author" content="@Properties["project-author"]">

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <link href="@Root/perso.css" rel="stylesheet" type="text/css" />
    <link href="@Root/common/download.css" rel="stylesheet" type="text/css" media="screen" />

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-77730-1', 'auto');
    ga('send', 'pageview');
    </script>

  </head>
  <body>
    <div class="container">
      @Include("header")
      @Include("subheader")
      <div class="row">
        <div class="span9" id="main">

          <script type="text/javascript">
            window.onload = function () {
              // I cannot figure out a nice way to format date. Also somehow the onload
              // injection method introduces a noticeable dealy in the refresh. So until
              // I find a better solution we just keep the static date from the post itself.
              //var d = new Date(Date.parse(metadata.postDate));
              //$('<p><b>' + d.toLocaleDateString() + ' ' + d.toLocaleTimeString() + '</b></p>').insertAfter($('#before-post').siblings('h1').first());
              if(metadata.legacyViews) {
                $('#after-post').html('<br/><i>' + metadata.legacyViews + ' views as of Oct 30th 2015.</i><br/>');
              }
            };
          </script>
          
          <div id="before-post"></div>
          @RenderBody()
          <p id="after-post" style="padding-bottom: 3cm;" />
      
          <!-- BEGIN DISQUS BLOB -->
          <div id="disqus_thread"></div>
          <script>
            if(metadata) {
                if(!metadata.entryType) {
                  metadata.entryType = 'entry'
                }
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                */
                var disqus_config = function () {
                    if(metadata.blogVersion == 1) {
                      this.page.url = 'http://william.famille-blum.org/blog/index.php?' + metadata.entryType + '=' + metadata.entryId;  // Replace PAGE_URL with your page's canonical URL variable
                    } else {
                      this.page.url = 'http://william.famille-blum.org/blog/' + metadata.entryId + '.html';
                    }
                    this.page.identifier = metadata.entryId; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'http://williamblum.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            }
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          <!-- END DISQUS BLOB -->
        </div>
        
        @Include("sidelist")
      </div> 
    </div>
    @Include("footer")
  </body>
  </html>
